:host(.button) {
  background-color: var(--color-green);
  color: var(--color-dark);
  border: 2px solid transparent;
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-xxl);
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  cursor: pointer;
}

:host(.button):focus {
  outline-style: solid;
  outline-color: transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px var(--color-dark), 0 0 0 4px var(--color-green);
  transition: box-shadow 150ms ease-out;
}
