.stream {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  padding: var(--spacing-md);
  gap: var(--spacing-lg);
}

.stream__message {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
}

.stream__message-meta {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.stream__message-from {
  border-left: 3px solid var(--color-green);
  padding-left: var(--spacing-xs);
}

@media (min-width: 48em) {

  .stream__message-meta {
    align-items: center;
    flex-direction: row;
    gap: var(--spacing-xxs);
    margin-bottom: var(--spacing-xs);
  }

  .stream__message-timestamp {
    padding-top: 0.5rem;
  }

}
